html {
  background-color: rgb(221, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 200px;
  margin-left: 5%;
  margin-right: 5%;
}

button {
  margin-left: 8px;
  padding: 6px 8px 6px 8px;
  border: none;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

.nominate:hover:enabled {
  background-color: rgb(47, 236, 47);
  transition: 0.4s;
}

.remove:hover {
  background-color: rgb(236, 47, 47);
  transition: 0.4s;
}



#searchbar {
  background-color: #fff;
  width: 93.75%;
  padding: 12px;
  margin-bottom: 20px;
}

#textfield {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
}

#results {
  display: inline-table;
  background-color: #fff;
  padding: 12px;
  margin-inline-end: 40px;
  width: 45%;
  height: 400px;
}

#searchResults-list li{
  padding-top: 12px;
}

#nominations {
  display: inline-table;
  background-color: #fff;
  padding: 12px;
  width: 45%;
  height: 400px;
}

#nominations-list li{
  padding-top: 4px;
}