html {
  background-color: rgb(221, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 200px;
}

#title {
  width: 90%;
  margin: auto;
}

button {
  margin-left: 8px;
  padding: 6px 8px 6px 8px;
  border: none;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

.nominate:hover:enabled {
  background-color: rgb(47, 236, 47);
  transition: 0.4s;
}

.remove:hover {
  background-color: rgb(236, 47, 47);
  transition: 0.4s;
}

#searchbar {
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
}

#sb {
  background-color: #fff;
  padding: 12px;
}

#textfield {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
}

#lower-half {
  width: 90%;
  margin: auto;
}

#lower-half .lower-half-child {
  background-color: #fff;
  border-radius: 6px;
  display: inline-table;
  height: 400px;
  width: 47.5%;
}

#lower-half .lower-half-child li {
  padding-top: 12px;
}

.lower-half-container {
  padding: 12px;
}